.default {
    padding: 7px 25px;


    border-radius: 5px;
    border: none;
    background: cornflowerblue;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background: dodgerblue;
    }
}

.red {
    background: crimson;
    &:hover {
        background: brown;
    }
}